<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listing classrooms</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @classrooms.each do |classroom| %>
              <tr>
                <td><%= classroom.name %></td>
                <td><%= classroom.description %></td>
                <td><%= link_to 'Disponibilidad', '#', class: "btn btn-success btn-sm" %></td>
                <td><%= link_to 'Listar Reservas', '#', class: "btn btn-primary btn-sm" %></td>
                <td><%= link_to 'Reservar', '#', class: "btn btn-warning btn-sm" %></td>
                <td><%= link_to 'Cancelar Reservas', '#', class: "btn btn-danger btn-sm" %></td>
                <td><%#= link_to 'Edit', edit_classroom_path(classroom) %></td>
                <td><%#= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

<%#= link_to 'New Classroom', new_classroom_path %>


    </div><!-- /.box-body -->
</div><!-- /.box -->