<div class="row">

  <div class="col-md-6">

    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Books</h3>
      </div>
      <div class="box-body">
        <%= form_tag '/bookings' , method: "get" do %>
         <!-- Date dd/mm/yyyy -->
        <div class="form-group">
            <label>Date:</label>
            <div class="input-group">
                <input type="type" name="date" class="form-control" placeholder="YYYY-MM-DD"/>
            </div><!-- /.input group -->
            <div class="input-group">
              <label>Range</label>
              <input type="number" name="limit" class="form-control" min="0" max="365"  >
            </div>
            <label>Select</label>
            <select name="status" class="form-control" >
                <option>approved</option>
                <option>all</option>
                <option>pending</option>
            </select>
        </div><!-- /.form group -->
        <%= hidden_field_tag 'link', @link %>
        <%= hidden_field_tag 'flag', false %>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <% end %>
      </div>
    </div>  
  </div>      

  <% unless @bookings.nil? %> 
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listing bookings</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Status</th>
              <th>User</th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.start %></td>
                <td><%= booking.end %></td>
                <td><%= booking.status %></td>
                <td><%= booking.user %></td>
                <td><%#= link_to 'Show', booking %></td>
                <td><%#= link_to 'Edit', edit_booking_path(booking) %></td>
                <td><%#= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            <br>
          </tbody>
        </table>
        <br>

        <%#= link_to 'New Booking', new_booking_path %>
    </div><!-- /.box-body -->
    <% end %>
</div><!-- /.box -->