<div class="row">

  <div class="col-md-12">

    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Reservas</h3>
      </div>
      <div class="box-body">
        <%= form_tag '/bookings' , method: "get" do %>
         <!-- Date dd/mm/yyyy -->
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-sm-2" >Fecha</label>
              <div class="input-group">
                  <input type="date" name="date" class="form-control" placeholder="YYYY-MM-DD" value= <%="#{params[:date]}" %> />
              </div><!-- /.input group -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-sm-2">Rango</label>
              <div class="input-group">
                <input type="number" name="limit" class="form-control" min="0" max="365"  value= <%="#{params[:limit]}" %> >
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="col-sm-2">Estado</label>
              <div class="input-group">
                <select name="status" class="form-control input-sm" value= <%="#{params[:status]}" %>>
                    <option></option>
                    <option value='approved'>Aprobado</option>
                    <option value='pending'>Pendientes</option>
                    <option value='all'>Todas</option>
                </select>
              </div><!-- /.form group -->
                <button type="submit" class="btn btn-primary pull-right">Buscar</button>
            </div>
          </div><!-- /.form group -->
        <%= hidden_field_tag 'link', @link %>
        <%= hidden_field_tag 'flag', false %>
      <% end %>
      </div>
    </div>  
  </div>      

  <% unless @bookings.nil? %> 
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Reservas de Aulas</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Estado</th>
              <th>Usuario</th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking["start"] %></td>
                <td><%= booking["end"] %></td>
                <td><%= booking["status"] %></td>
                <td><%= booking["user"] %></td>
                
                <% if is_my_book? booking %>
                  <td><%= link_to 'Cancelar Reserva', booking_reject_path(booking: booking), method: :post, data: { confirm: 'Esta seguro que desea cancelar la Reserva?' }, class: "btn btn-danger btn-sm" %></td>
                <% end %>                


                <% if (can? :delete, @bookings) &  booking["status"].eql?("pending") %>
                  <td><%= link_to 'Cancelar Reserva', booking_reject_path(booking: booking), method: :post, data: { confirm: 'Esta seguro que desea cancelar la Reserva?' }, class: "btn btn-danger btn-sm" %></td>
                <% end %>
                
                <% if (can? :authorizated, @bookings) &  booking["status"].eql?("pending")%>
                  <td><%= link_to 'Autorizar', booking_authorize_path(booking: booking), method: :post, class: "btn btn-primary btn-sm" %></td>
                <% end %>
                
              </tr>
            <% end %>
            <br>
          </tbody>
        </table>
        <br>

    </div><!-- /.box-body -->
    <% end %>
</div><!-- /.box -->