<div class="row">

  <div class="col-md-12">

    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Reservas</h3>
      </div>
      <div class="box-body">
        <%= form_tag '/bookings' , method: "get" do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-sm-3" >Fecha</label>
              <div class="input-group">
                  <input type="date" name="date" class="col-sm-7 form-control" placeholder="YYYY-MM-DD" value= <%="#{params[:date]}" %> />
              </div><!-- /.input group -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-3">Rango</label>
              <div class="input-group">
                <input type="number" name="limit" class="form-control" min="0" max="365"  value= <%="#{params[:limit]}" %> >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-3">Estado</label>
              <div class="input-group">
                <%= select_tag "status", options_for_select([["Aprobadas","approved"],["Pendientes","pending"],["Todas","all"]], params[:status]), {:include_blank => true, class:"form-control input-sm"}%>
              </div><!-- /.form group -->
            </div>
          </div><!-- /.form group -->
        <button type="submit" class="col-md-1 btn btn-primary">Buscar</button>
      <% end %>
      </div>
    </div>  
  </div>      

  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Reservas de Aulas</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Estado</th>
              <th>Usuario</th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking["start"] %></td>
                <td><%= booking["end"] %></td>
                <td><%= booking["status"] %></td>
                <td><%= booking["user"] %></td>
                
                <% if is_my_book? booking %>
                  <td><%= link_to 'Cancelar Mi Reserva', booking_reject_path(booking: booking, link: @link), method: :post, data: { confirm: 'Esta seguro que desea cancelar la Reserva?' }, class: "btn btn-danger btn-sm" %></td>
                <% end %>                


                <% if (can? :delete, @bookings) &  booking["status"].eql?("pending") %>
                  <td><%= link_to 'Cancelar Reserva', booking_reject_path(booking: booking, link: @link), method: :post, data: { confirm: 'Esta seguro que desea cancelar la Reserva?' }, class: "btn btn-danger btn-sm" %></td>
                <% end %>
                
                <% if (can? :authorizated, @bookings) &  booking["status"].eql?("pending")%>
                  <td><%= link_to 'Autorizar', booking_authorize_path(booking: booking, link: @link), method: :post, class: "btn btn-primary btn-sm" %></td>
                <% end %>
                
              </tr>
            <% end %>
            <br>
          </tbody>
        </table>
        <br>

    </div><!-- /.box-body -->
</div><!-- /.box -->