<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @availability.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @availability.to %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
