<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li class="active">
            <a href="/">
              <span>Sistema Gestion de Aulas</span>
            </a>
        </li>
        <% if can? :create, @classroom %>
          <li>
            <%= link_to 'Agregar Aula', new_classroom_path %>
          </li>
        <% end %>
        <li>
            <%= link_to 'Listar Aulas', classrooms_path %>
        </li>
        <% if can? :create, @classroom %>
          <li>
            <%= link_to 'Configuración', configurations_path %>
          </li>
        <% end %>
      </ul>
    </section>
                <!-- /.sidebar -->
  </aside>

  <aside class="right-side">
    <!-- Main content -->
    <section class="content">
    
      <% if flash[:error] %>
        <div class="alert alert-danger">
            <button class="close" type="button" data="dismiss-alert">
              &times;
            </button>  
            <%= flash[:error] %>
        </div>    
      <% end %>    
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button class="close" type="button" data="dismiss-alert">
            &times;
          </button>  
          <%= flash[:notice] %>
        </div>    
      <% end %>    


      <%= yield %>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->