<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sga" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sga" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-black">
    <header class="header">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if user_signed_in? %>
        <%= render 'layouts/main' %>
      <% else %>
        <%= yield %> 
      <% end %>      
    </main>
  </body>
</html>
