<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sga" %></title>
    <link href= "/escuela.png" rel= "shortcut icon">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sga" %>">
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-black">
    <header class="header">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if user_signed_in? %>
        <%= render 'layouts/main' %>
      <% else %>
        <%= yield %> 
      <% end %>      
    </main>
  </body>
</html>
